name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - run: pip install -r requirements.txt
    - run: pytest

  deploy:
    needs: build-and-test
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Visible Deployment
      run: |
        DEPLOY_DIR=~/ci_cd_deploy_demo
        mkdir -p $DEPLOY_DIR

        echo "DEPLOYED SUCCESSFULLY" > $DEPLOY_DIR/deploy.txt
        echo "Commit: $GITHUB_SHA" >> $DEPLOY_DIR/deploy.txt
        echo "Time: $(date)" >> $DEPLOY_DIR/deploy.txt

        echo "Deployment done. File created at:"
        echo "$DEPLOY_DIR/deploy.txt"
